<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeTales</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

</head>
<!-- <video loop muted autoplay playsinline poster="URL/TO/poster.jpg" class="background-video">
    <source src="images/bg1.mp4" type="video/mp4">
</video> -->

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0" style="font-family: Dancing Script,cursive; font-size: 2.3rem;">LifeTales</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/blogs">Blogs</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1 style="font-family: Dancing Script,cursive; font-size:5rem;">LifeTales</h1>
            <p class="lead" style="font-family: Dancing Script,cursive;"> Welcome to LifeTales! <br> Dive into a captivating journey through life's rich tapestry
                with our curated collection of blogs, each weaving tales of inspiration, discovery, and transformation.
            </p>
            <a href="/blogs" class="btn btn-sm btn-secondary font-weight-bold border-white bg-white " >View
                Blogs</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>All Right Reserved &copy; 2022 </p>
        </footer>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>